{{ define "main" }}
<main>
	{{ if eq .Type "posts" }}
	{{ if (findRE "<pre" .Content 1) }}
		<script src="/js/code.js" defer></script>
		{{ end }}
		<article>
			<div class="title">
				<h1 class="title">{{ .Title }}</h1>
				<div class="meta">Posted on {{ dateFormat "Jan 2, 2006" .Date }}
					<div class="post-tags">
						{{ if ne .Type "page" }}
						{{ if gt .Params.tags 0 }}
						<nav class="nav tags">
							<ul class="tags">
								{{ range .Params.tags }}
								<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
								{{ end }}
							</ul>
						</nav>
						{{ end }}
						{{ end }}
					</div>
					{{ if .Draft }}<span class="draft-label">DRAFT</span>{{ end }}
				</div>
			</div>
			{{ if isset .Params "tldr" }}
			<div class="tldr">
				<strong>tl;dr:</strong>
				{{ .Params.tldr }}
			</div>{{ end }}

			<section class="body">
				{{ .Content }}
			</section>

			{{- $.Scratch.Set "isDisqus" true -}}
			<!-- Check if disqus short name is given -->
			{{ if not .Site.Config.Services.Disqus.Shortname }}
			{{- $.Scratch.Set "isDisqus" false -}}
			{{ end }}

			{{- if eq ($.Scratch.Get "isDisqus") true -}}
			{{- partial "disqus.html" . -}}
			{{- end -}}
		</article>
		{{ else if eq .Type "talks" }}
		<article>
			<div class="title">
				<h1 class="title">{{ .Title }}</h1>
				<div class="meta">{{ dateFormat "Jan 2, 2006" .Date }} @ {{ .Params.conference }}
					<div class="post-tags">
						{{ if ne .Type "page" }}
						{{ if gt .Params.tags 0 }}
						<nav class="nav tags">
							<ul class="tags">
								{{ range .Params.tags }}
								<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
								{{ end }}
							</ul>
						</nav>
						{{ end }}
						{{ end }}
					</div>
					{{ if .Draft }}<span class="draft-label">DRAFT</span>{{ end }}
				</div>
			</div>
			<section class="body">
				{{ .Content }}

				{{ if .Params.video }}
				<a href="{{ .Params.video }}" target="_blank" class="talk-link btn">Video</a>
				{{ end }}
				{{ if .Params.slides }}
				<a href="{{ .Params.slides }}" target="_blank" class="talk-link btn">Slides</a>
				{{ end }}
			</section>
		{{ end }}
</main>
{{ end }}
