/* Markdown */
:root {
	--lightmaincolor: #FF7F3E;
	--lightsecondarycolor: #80C4E9;
	--lightthirdcolor: #604CC3;
	--lightbackgroundcolor: white;
	--lighttextcolor: #232333;
	--lighthighlightcolor: #f1f1f1;
	--darkmaincolor: #FF7F3E;
	--darksecondarycolor: #80C4E9;
	--darkthirdcolor: #604CC3;
	--darkbackgroundcolor: #202124;
	--darktextcolor: #d5cfa9;
	--darkhighlightcolor: #414141;
}

html {
	color: var(--textcolor);
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	line-height: 1.6em;
}

body {
	color: var(--textcolor);
	display: block;
	margin: 8px;
	background: var(--backgroundcolor);
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
	background: var(--maincolor);
	color: #fff;
}

p {
	/* font-family: 'Roboto ', sans-serif; */
	line-height: 1.5;
}

hr {
	border: 0;
	border-top: 3px dotted var(--thirdcolor);
	margin: 1em 0;
}

blockquote {
	border-left: 3px solid var(--thirdcolor);
	color: #737373;
	margin: 0;
	padding-left: 1em;
}

a {
	border-bottom: 1px solid var(--maincolor);
	color: var(--textcolor);
	text-decoration: none;
}

a:hover {
	background-color: inherit;
	font-weight: bold;
}

ul {
	list-style: none;
	padding-left: 2ch;
}

ul li {
	text-indent: -2ch;
}

.pagination {
	padding: 0;
	width: 100%;
}

ul>li::before {
	content: '* ';
	color: var(--maincolor);
	font-weight: bold;
}

/* Images */
img {
	border: 3px solid #ececec;
	max-width: 100%;
}

figure {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	max-width: 100%;
}

figure img {
	max-height: 500px;
}

@media screen and (min-width: 600px) {
	figure {
		padding: 0 40px;
	}
}

figure h4 {
	font-size: 1rem;
	margin: 0;
	margin-bottom: 1em;
}

figure h4::before {
	content: '↳ ';
}

/* Code blocks */
code {
	background-color: var(--highlightcolor);
	padding: 3px;
	font-size: 14px;
	font-family: "Ubuntu Mono", monospace;
}

pre {
	line-height: 1.4;
	overflow-x: auto;
	margin: 0;
}

.highlight pre ::selection {
	background: rgba(255, 255, 255, 0.2);
	color: inherit;
}

pre code {
	text-wrap: wrap;
	background-color: transparent;
	color: inherit;
	font-size: 15px;
	padding: 0;
}

/* Containers */
.content {
	margin-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	padding: 0 1ch;
	word-wrap: break-word;
}

/* Header */
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 1em 0;
	margin-bottom: 0;
	line-height: 2.5em;
}

header .main {
	font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1.2rem;
	margin-top: 2em;
}

.title::before {
	content: '';
}

h1::before {
	color: var(--maincolor);
	content: '# ';
}

h2::before {
	color: var(--maincolor);
	content: '## ';
}

h3::before {
	color: var(--maincolor);
	content: '### ';
}

h4::before {
	color: var(--maincolor);
	content: '#### ';
}

h5::before {
	color: var(--maincolor);
	content: '##### ';
}

h6::before {
	color: var(--maincolor);
	content: '###### ';
}

.meta {
	color: #999;
	letter-spacing: -0.5px;
}

/* Footer */
footer {
	display: flex;
	align-items: center;
	border-top: 0.4rem dotted var(--thirdcolor);
	padding: 2rem 0rem;
	margin-top: 2rem;
}

.soc {
	display: flex;
	align-items: center;
	border-bottom: none;
}

.border {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border: 1px solid;
}

.footer-info {
	padding: var(--footer-padding);
}

/* Common */
h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

.list-item>span {
	color: grey;
}

/* Posts */
article .title {
	margin-bottom: 1em;

	h1 {
		font-size: 22px;
	}
}

h1.title {
	margin-bottom: 0;
	font-size: 1.1em;
}

h1.title a {
	border: none;
}

/* Callout */
.callout {
	border: 1px solid var(--secondarycolor);
	/* font-style: italic; */
	font-size: 13px;
	padding: 1em;
	border-radius: 8px;
	margin-top: 1em;
}

.callout code {
	font-size: 13px;
}

.site-description {
	display: flex;
}

.site-description p {
	margin: 0;
}

.site-description::before {
	line-height: 22.5px;
	content: "❯";
	padding-right: 5px;
	text-align: center;
	color: var(--maincolor);
}


.tags-icon::before {
	content: "🏷 ";
}

.tags {
	margin-top: 0;
}


svg {
	max-height: 15px;
}

.soc:hover {
	color: white;
}

.draft-label {
	color: var(--thirdcolor);
	text-decoration: none;
	padding: 2px 4px;
	border-radius: 4px;
	margin-left: 6px;
	background-color: #f9f2f4;
}

.highlight {
	position: relative;
	-webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"] {
	-webkit-overflow-scrolling: touch;
}

/* table */
table {
	border-spacing: 0;
	border-collapse: collapse;
}

table th {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
	font-size: large;
}

table td {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
}

.before-code {
	display: flex;
	margin: 0;
	background-color: #383937;
	width: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	justify-content: space-between;
}

.before-code button {
	display: block;
	margin-left: auto;
	background: transparent;
	border: 0;
	padding: 0;
	border-radius: 8px;
}

.before-code img {
	height: 1.7em;
	color: white;
	border: 0;
	margin: 10px;
	margin-right: 15px;
	margin-left: 15px;
}

img.go-icon {
	height: 3em;
	margin: 0;
	align-self: center;
	margin-left: 13px;
}

img.sh-icon {
	height: 2.5em;
	margin: 0;
	align-self: center;
	margin-left: 17px;
}

.code {
	margin: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	font-size: 14px;
	padding: 15px;
}

.codeblock {
	width: 100%;
}

.before-code button:hover {
	cursor: pointer;
	background-color: #505348;
}

.buttons {
	display: flex;
}

code>span>a {
	border: 0;
}

code>span>a:hover {
	padding: 0;
}

.talk-link {
	margin-right: 5px;
	padding-top: 10px;
}

#dark-mode-toggle {
	border: 0;
	background: initial;
	color: var(--maincolor);
}
